table {
	border: 5px double black;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 50px;
	font-family: 'Lora', serif;
}

td {
  text-align: center;
  padding: 10px;
	/*border-radius: 15px;*/
  border: 1px solid black;
}

th {
  width: 100px;
  background-color: black;
	color: white;
}

.yes {
  color: green;
}

.no {
  color: red;
}

a {
  text-decoration: none;
	font-family: 'Bellefair', serif;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

#link {
  width: 200px;
  margin: 0px auto;
  margin-top: 50px;
}
